@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.blue {
    background: #1F2937;
}

.white {
    background: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    max-width: 1200px;
    margin: auto;
}

.header-links {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 24px;
    font-weight: 400;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 72px 0 96px;
    gap: 32px;
    max-width: 1200px;
    margin: auto;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    border-radius: 8px;
    padding: 0;
    width: 128px;
    height: 36px;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: 900;
    cursor: pointer;
}

.sign-up:hover {
    background-color: #115eda;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 24px 0px 96px;
}

.info-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    gap: 48px;
    text-align: center;
    color: #6D747D;
    font-size: 18px;
}

.info-list > li {
    max-width: 150px;
}

.info-list > li > img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}